.time{
    border-bottom: 1px solid #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    .departure{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.timeTable{
    width: 80%;
    grid-area: mml;
    padding: 40px;
    img{
        max-width: 2em;
        margin-right: 10px;
    }
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
    grid-template-areas: 
    "tl tm tr"
    "tml tmm tmr"
    "mml mmm mmr"
    "bml bmm bmr"
    "bl bm br";


    grid-gap: 30px;
    height: 100vh;
}
    

.clock {
    text-align: center;
    font-size: 7em;
    grid-area: tmm;
}

.MOTD {
    color: rgba($color: #ffffff, $alpha: 0.6);
    text-align: center;
    font-size: 3em;
    grid-area: bmm;

  }
  
  .date {
    text-align: center;
    font-size: 2em;
  }

.clockParent{
    grid-area: mmm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MOTDContainer{
    grid-area: bmm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdownParent{
    grid-area: tm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yr{
    grid-area: tr;
}

.chantinaParent{
    grid-area: mmr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chantina {
    text-align: center;
    font-size: 3em;
    grid-area: mmr;
}